.CenterCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CenterCircle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e1e5ec;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.CirclePoints {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid #d0d5e0;
  transition: all ease 300ms;
}

.Point {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  z-index: 10;
  border-radius: 50%;
  background-color: #42567a;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 300ms;
  color: #42567a;
  border: 1px solid transparent;
}

.Point.active,
.Point:hover {
  width: 56px;
  height: 56px;
  border: 1px solid #9399a7;
  background-color: #f4f5f9;
}

.CircleControl {
  position: absolute;
  bottom: 0;
  left: 80px;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%;
  margin-left: 80px; */
}

.CircleControl span {
  font-size: 14px;
}

.CirlceArrows {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.CircleArrowPrev,
.CircleArrowNext {
  width: 50px;
  height: 50px;
  border: 1px solid #9ba4ba;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 300ms;
}

.CircleArrowPrev:hover,
.CircleArrowNext:hover {
  background-color: #fff;
}

.CircleArrowPrev.disabled,
.CircleArrowNext.disabled {
  border: 1px solid #c7ccd9;
  cursor: auto;
}
.CircleArrowPrev.disabled svg path,
.CircleArrowNext.disabled svg path {
  transition: all ease 300ms;
  stroke: #9ba4b9;
}

.CircleArrowNext {
  transform: rotate(180deg);
}
