.CenterCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CenterCircle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e1e5ec;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.Dates {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 140px;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}
.Dates span {
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;
}
.DateBlue {
  color: #5d5fef;
}
.DatePink {
  color: #ef5da8;
}

.CirclePoints {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid #d0d5e0;
  transition: all ease 300ms;
}

.Point {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #42567a;
  cursor: pointer;
  font-size: 0;
  transition: all ease 300ms;
  color: #42567a;
  border: 1px solid transparent;
}

.PointWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.PointValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PointName {
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  transform: translateY(-50%);
}

.Point.active,
.Point:hover {
  width: 56px;
  height: 56px;
  border: 1px solid #9399a7;
  background-color: #f4f5f9;
}
.Point.active .PointValue,
.Point.active .PointName,
.Point:hover .PointValue {
  font-size: 20px;
}
