.CenterCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CenterCircle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e1e5ec;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .CenterCircle::after {
    display: none;
  }
}

.Dates {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 140px;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .Dates {
    position: static;
    transform: translate(0, 0);
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}

.Dates span {
  font-size: 13.9vw;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;
}

@media screen and (max-width: 768px) {
  .Dates span {
    font-size: 14.3vw;
    letter-spacing: -1.12px;
  }
}

.DateBlue {
  color: #5d5fef;
}

.DatePink {
  color: #ef5da8;
}
