.CirclePoints {
  position: relative;
  width: 530px;
  height: 530px;
  transition: all ease 500ms;
  z-index: 40;
}

@media screen and (max-width: 768px) {
  .CirclePoints {
    display: none;
  }
}
