.App {
  position: relative;
  border-left: 1px solid #e1e5ec;
  border-right: 1px solid #e1e5ec;
  height: 100vh;
}

.App::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #e1e5ec;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 30px;
}

.Header {
  position: absolute;
  max-width: 24.5139vw;
  padding-left: 80px;
  top: 30px;
  z-index: 10;
}
.Header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 8.33333vw;
  transform: translateY(-50%);
  background: linear-gradient(#3877ee, #ef5da8);
}
.Header h1 {
  font-size: 3.9vw;
  font-weight: 700;
  line-height: 120%;
}
